
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    background:#f4f7fc;
}

/* KONTEN */

.main{
    margin-left:260px;
    padding:40px;
    min-height:100vh;
}

.main h1{
    color:#1b5e20;
    margin-bottom:25px;
    font-size:32px;
}

/* CARD TABEL */

.table-container{
    background:white;
    border-radius:20px;
    padding:25px;
    box-shadow:0 10px 30px rgba(0,0,0,0.08);
    overflow-x:auto;
}

/* TABLE */

table{
    width:100%;
    border-collapse:collapse;
}

th{
    background:linear-gradient(
        135deg,
        #1b5e20,
        #43a047
    );
    color:white;
    padding:15px;
    text-align:center;
}

td{
    padding:14px;
    text-align:center;
    border-bottom:1px solid #eee;
}

tr:hover{
    background:#f8fff8;
}

/* BADGE */

.badge-admin{
    background:#2e7d32;
    color:white;
    padding:6px 12px;
    border-radius:20px;
    font-size:13px;
    font-weight:bold;
}

.badge-user{
    background:#ff9800;
    color:white;
    padding:6px 12px;
    border-radius:20px;
    font-size:13px;
    font-weight:bold;
}

/* RESPONSIVE */

@media(max-width:768px){

    .main{
        margin-left:90px;
        padding:20px;
    }

    .main h1{
        font-size:24px;
    }

    table{
        font-size:12px;
    }

    th,
    td{
        padding:8px;
    }

}